1. Crea una tupla con tres elementos y imprime por pantalla cada uno de ellos en una
nueva linea.

In [4]:
tuple = ('Python', 3.12, False)
language, version, activate = tuple

print('El lenguaje de programación es', language)
print('En la version:', version)
print('Y se encuentra', 'activado' if activate else 'desactivado')

El lenguaje de programación es Python
En la version: 3.12
Y se encuentra desactivado

2. Crea una lista con tres elementos e intenta modificarla. Haz lo mismo con la tupla.
¿Cuáles son las diferencias?

In [ ]:
list = ['Python', 3.12, False]
tupla = ('Python', 3.12, False)

list[0] = 'PHP'
print(list)

tupla[0] = 'JAVA' #Esto no se puede hacer
print(tupla)

['PHP', 3.12, False]

TypeError: 'tuple' object does not support item assignment

3. Crea una tupla de enteros y devuelve la suma de los elementos.

In [5]:
tupla_int = (5, 6, 7, 89, 0, 87, 5)

suma_tupla = sum(tupla_int)

print(suma_tupla)

199

4. Crea un script que dada una tupla que contiene strings cree una nueva tupla con el
primer caracter de cada string.

In [ ]:
mi_tupla = ('manzana', 'platano', 'naranja')
lista = []

for palabra in mi_tupla:
    lista.append(palabra[0])

iniciales_tupla = tuple(lista)
print(iniciales_tupla)

('m', 'p', 'n')

 = input()
tupla = ()

5. Crea un script que dada una tupla de números devuelva el producto de todos los
números pares.

In [7]:
mi_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9)
result_pares = 1
for numero in mi_tupla:
    if numero % 2 == 0:
        result_pares = result_pares * numero
print(result_pares)

384

6. Crea un script que dada una tupla de números, devuelva la tupla con los numeros
ordeandos en orden descendente.

In [ ]:
mi_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(sorted(mi_tupla, reverse=True))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

7. Crea un script que dada una tupla con números enteros repetidos, elimine los
duplicados. (Puedes usar sets).

In [9]:
mi_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2 , 4, 3, 5, 8, 20, 20)

mi_set = set(mi_tupla)

print(mi_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20}

8. Crea un script que dada una tupla y un numero entero, devuelve verdadero si el
numero se encuentra en la tupla y falso en el caso contrario.

In [15]:
mi_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9)
entero = int(input('Introduce un numero a ver si esta en mi lista'))

print(entero in mi_tupla)

True

9. Crea un script que dadas dos tuplas cree una tupla resultante de la union de ambas.

In [16]:
mi_tupla1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
mi_tupla2 = ('manzana', 'platano', 'naranja')

union_tupla = mi_tupla1 + mi_tupla2
print(union_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'manzana', 'platano', 'naranja')

10. Crea un script que dada una tupla de números devuelva e máximo y el mínimo.

In [17]:
mi_tupla1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print('Máximo: ', max(mi_tupla1))
print('Mínimo: ', min(mi_tupla1))

Máximo:  9
Mínimo:  1

11. Crea un script que dada una tupla con strings devuelva el string más largo y el más
corto. (Prueba añadiendo key=len a las funciones max y min).

In [ ]:
mi_tupla = ('manzana', 'platano', 'naranja', 'limon')

print('Máximo:', max(mi_tupla, key=len))
print('Mínimo:', min(mi_tupla, key=len))

7
Máximo: manzana
Mínimo: limon

12. Crea un script que dada una tupla devuelva el contenido en orden revertido.

In [26]:
mi_tupla = ('manzana', 'platano', 'naranja', 'limon')

tupla_mi = reversed(mi_tupla)

for item in tupla_mi:
    print(item)

limon
naranja
platano
manzana

13. Crea un script que dada una tupla de tuplas, donde cada tupla interna contiene dos
elementos, devuelva una nueva tupla en la que cada elemento sea la suma de los dos
elementos de la tupla interna correspondiente.

In [28]:
tupla_tuplas = ((2, 4), (2, 3), (4, 9))
list = []

print(tupla_tuplas)

for tupla in tupla_tuplas:
    list.append(sum(tupla))

list_to_tupla = tuple(list)
print(list_to_tupla)

((2, 4), (2, 3), (4, 9))
(6, 5, 13)

TRABAJANDO CON SETS

14.Crea un set y elimina uno de sus elementos.

In [ ]:
mi_set = {'platano', 'banana', 'juan_juanito_juan', 'el golondrina', 4, 'yosoykani'}
item_to_remove = input('introduce un item para eliminarlo')
mi_set.discard(item_to_remove)

print('Elemento a eliminar: ', item_to_remove)
print(mi_set)

{'yosoykani', 'el golondrina', 'juan_juanito_juan', 4, 'banana', 'platano'}

15.Crea un set vacío.

In [31]:
mi_set = {}

16.Crea dos sets y encuentra su union, su intersección y su diferencia.

In [35]:
set1 = {'platano', 'banana', 4, 5, 6}
set2 = {'platano', 4, 7, 8, 'pomelo'}
print('UNION')
print(set1 | set2)
print(set1.union(set2))

print('INTERSECCION')
print(set1 & set2)
print(set1.intersection(set2))

print('DIFERENCIA')
print(set1 - set2)
print(set1.difference(set2))

UNION
{4, 5, 6, 7, 'platano', 8, 'banana', 'pomelo'}
{4, 5, 6, 7, 'platano', 8, 'banana', 'pomelo'}
INTERSECCION
{'platano', 4}
{'platano', 4}
DIFERENCIA
{'banana', 5, 6}
{'banana', 5, 6}

17.Crea un script que dados dos sets cree uno nuevo que contenga solo los elementos
comunes de ambos.

In [ ]:
set1 = {'platano', 'banana', 4, 5, 6}
set2 = {'platano', 4, 7, 8, 'pomelo'}

final_set = set1.union(set2)

print(final_set)

{4, 5, 6, 7, 'platano', 8, 'banana', 'pomelo'}

18.Crea un script que dado un set con números devuelva el numero máximo y mínimo.

In [37]:
set1 = {1, 2, 3, 4, 5, 6, 7, 99, 100, 9992999292}

print('Máximo', max(set1))
print('Mínimo', min(set1))

Máximo 9992999292
Mínimo 1

19.Crea un script que dados dos sets cree uno nuevo solo con los elementos únicos de
cada uno de los sets.

In [38]:
set1 = {'platano', 'banana', 4, 5, 6}
set2 = {'platano', 4, 7, 8, 'pomelo'}

final_set = set1 | set2 #se ppuede hacer de la misma manera porque los valores de los sets son únicos

print(final_set)

{4, 5, 6, 7, 'platano', 8, 'banana', 'pomelo'}

20.Crea un set con colores y comprueba si cierto color se encuentra en el set.

In [40]:
set_colours = {'yellow', 'red', 'pink', 'blue', 'brown'}

input_colour = input('Introduce un color y te diré si se encuentra en nuestro set')

print(input_colour in set_colours)

False

21.Crea un script que dados dos sets cree un nuevo set con los elementos que están en
el primer set pero no en el segundo.

In [44]:
set_colours1 = {'yellow','pink', 'red'}
set_colours2 = {'red', 'blue', 'brown'}

final_set = set_colours1 - set_colours2

print(final_set)

{'yellow', 'pink'}

22.Crea un script que dado un set de enteros devuelva el producto de todos los números
dentro del set.

In [46]:
set1 = {1, 2, 3, 4, 5, 6, 7, 99, 100}

product = 1
for numero in set1:
    product = product * numero

print(product)

49896000